<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ian Mustafa">
    <link rel="icon" href="/favicon.ico">

    <title>Vue.js dengan Back-end PHP Native</title>

    <!-- Bootstrap core CSS -->
    <link href="https://unpkg.com/bootstrap@4.1/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container py-4">
      <div class="page-header mb-4 border-bottom">
        <h1>
          <img src="vue.png" alt="Vue.js Logo">
          Vue.js dengan Back-end PHP Native
          <small class="h3 text-muted">Oleh <a href="https://facebook.com/iianmustafa">Ian Mustafa</a></small>
        </h1>
      </div>

      <p class="lead">Belajar hal baru selalu asyik. Disini, saya mencoba <a href="https://vuejs.org" target="_blank">Vue.js</a> untuk pertama kalinya. Dipadukan dengan <a href="https://router.vuejs.org/en" target="_blank">Vue Router</a> dan <a href="https://github.com/mzabriskie/axios" target="_blank">Axios</a>, saya harap contoh sederhana ini bisa memberi gambaran bagi kita, aplikasi interaktif yang <em>powerful</em> nggak harus ribet. 😊</p>

      <p>Jelas, ini bukanlah proyek yang <em>perfect</em>. Saya sendiri menemui banya kendala, termasuk memahami konsep dan mencari cara agar <em>flow</em> aplikasi bisa sesuai dengan keinginan saya. Proyek ini saya buat sesederhana mungkin agar pemula seperti saya bisa lebih mudah memahami konsep dasarnya, dan nantinya bisa dipakai sebagai <em>boilerplate</em> untuk mengembangkan aplikasi yang lebih kompleks. 👍</p>

      <!-- Demo! -->
      <h3 id="demo" class="mt-4 mb-3">Demo</h3>
      <!-- Vue akan memakai div#app berikut untuk me-render aplikasi yang kita buat -->
      <div id="app">
        <!-- <router-view/> berikut dipakai oleh Vue Router untuk me-render router yang ditampilkan -->
        <router-view></router-view>
      </div>
    </div><!-- /.container -->


    <!--
      Vue.js Template: lihat-user
      Template ini dipakai di tampilan tabel dengan isian list user yang tersimpan di API server
    -->
    <template id="lihat-user">
      <section>
        <!-- <router-link/> akan di-render menjadi <a/> lengkap dengan atribut href-nya -->
        <router-link :to="{name: 'tambah-user'}" class="btn btn-primary mb-3">
          Tambah user baru
        </router-link>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nama</th>
                <th>Email</th>
                <th>Alamat</th>
                <th><span class="sr-only">Aksi</span></th>
              </tr>
            </thead>
            <tbody>
              <!-- $parent disini dipakai karena kita perlu mengakses property milik parent component (Vue instance itu sendiri) dalam child component (route component ini). Di bagian yang lain juga sama -->
              <tr v-for="(user, i) in $parent.users" :key="'user-' + user.id">
                <td>{{ ++i }}</td>
                <td>{{ user.nama }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.alamat }}</td>
                <td>
                  <router-link :to="{name: 'ubah-user', params: {id_user: user.id}}" class="btn btn-xs btn-success btn-sm px-1 py-0 text-small">Ubah</router-link>
                  <!-- @click dipakai untuk mendengarkan event click dari <button/>, dengan action ke method hapusUser() di Vue -->
                  <button type="button" @click="$parent.hapusUser(user.id)" class="btn btn-xs btn-danger btn-sm px-1 py-0 text-small">Hapus</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </template><!-- /template#lihat-user -->


    <!-- Vue.js Template: tambah-user -->
    <template id="tambah-user">
      <section>
        <h4>Tambah User Baru</h4>
        <!-- @submit, saya yakin Anda sudah tahu event mana yang didengarkan -->
        <form @submit="$parent.tambahUser">
          <div class="form-group">
            <label for="tambah-nama">Nama</label>
            <input class="form-control" id="tambah-nama" v-model="$parent.user.nama" required>
          </div>

          <div class="form-group">
            <label for="tambah-email">Email</label>
            <input type="email" class="form-control" id="tambah-nama" v-model="$parent.user.email" required>
          </div>

          <div class="form-group">
            <label for="tambah-alamat">Alamat</label>
            <textarea class="form-control" id="tambah-alamat" rows="3" v-model="$parent.user.alamat"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Tambah User</button>
          <router-link :to="{ name: 'lihat-user' }" class="btn btn-default">Batalkan</router-link>
        </form>
      </section>
    </template><!-- /template#tambah-user -->


    <!-- Vue.js Template: ubah-user — dari sini Anda pasti sudah paham -->
    <template id="ubah-user">
      <section>
        <h4>Ubah User</h4>
        <form @submit="$parent.ubahUser($parent.user.id)">
          <div class="form-group">
            <label for="ubah-nama">Nama</label>
            <input class="form-control" id="ubah-nama" v-model="$parent.user.nama" required>
          </div>
          <div class="form-group">
            <label for="ubah-email">Email</label>
            <input type="email" class="form-control" id="ubah-nama" v-model="$parent.user.email" required>
          </div>
          <div class="form-group">
            <label for="ubah-alamat">Alamat</label>
            <textarea class="form-control" id="ubah-alamat" rows="3" v-model="$parent.user.alamat"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Ubah User</button>
          <router-link :to="{ name: 'lihat-user' }" class="btn btn-default">Batalkan</router-link>
        </form>
      </section>
    </template><!-- /template#ubah-user -->


    <!-- Saya pakai assets dari CDN supaya sederhana. Dan juga karena dulu saya belum siap untuk pakai Webpack 😂 -->
    <script src="https://unpkg.com/vue@2.5/dist/vue.js" type="text/javascript"></script>
    <script src="https://unpkg.com/vue-router@3/dist/vue-router.js" type="text/javascript"></script>
    <script src="https://unpkg.com/axios@0.18/dist/axios.js" type="text/javascript"></script>

    <!-- Aplikasi Vue yang kita buat ada disini -->
    <script src="app.js" type="text/javascript"></script>
  </body>
</html>
